body {
  padding-top: 7%;
  background: url("http://3.bp.blogspot.com/__O4NuhJ7ow8/TIVX8DbnNAI/AAAAAAAAAQ0/hG-LYXemfpU/s1600/woodTexture.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;


}

.logintitlebackground {

}

.form-control {

  
  margin-top: 1%;
  border-radius: 6px;
  border-color: #990000;
  border-width: thin;
  border-style: solid;
}





.navbar-brand > img {

      height: 100%;
      width:auto;
      padding: 0px;

    }
.navbar-brand {
  padding: 13px;
}



.thumbnail img {
    width: 100%;
    max-width: 40em;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.lead {

  color: lightgray;
}

footer {
    color: lightgray;
}


.col-md-5 {
    width: 33%;
}

.textbg {
   /*background-color:lightgrey;*/
   background: rgba(255,255,255,0.8);
   text-align:center;

}

.textbgtable {
   background: rgba(255,255,255,0.8);
 /*  text-align:center; */
   border-radius: 6px;
   border-color: #990000;
   border-style: solid;
   border-width: medium;
}

tbody > tr {
  opacity:0.75;
}


.table>thead>tr>th  {
  border-bottom-color: #990000;
  border-bottom-style: solid;
  border-bottom-width: thin;
  padding-bottom: 2px;
  margin: 6px;
}

.textbglog {
   /*background-color:lightgrey;*/
background: rgba(255,255,255,0.8);
 /*text-align:center;
 padding-top:8%;
  padding-bottom: 8%;
  padding-left: 8%;
  padding-right: 8%;
  margin-top:10%;
  margin-bottom: 10%; */
  padding-top:.5%;
  padding-bottom: .5%;
  margin-left: 2%;
  margin-right: 88%;
  border-radius: 6px;

}

.textbgdash1 {
   /*background-color:lightgrey;*/
background: rgba(255,255,255,0.8);
color: #990000;
 text-align:center;
/* padding-top:8%;
  padding-bottom: 8%;
  padding-left: 8%;
  padding-right: 8%;*/
  margin-top:5%;
  margin-bottom: 5%;
  padding-top:1%;
  padding-bottom: 1%;
  margin-left: 38%;
  margin-right: 38%;
  border-radius: 6px;
  border-color: #990000;
  border-style: solid;
  border-width: thick;

}

.textbgdash2 {
   /*background-color:lightgrey;*/
   background: rgba(255,255,255,0.8);
   color: #990000;
   text-align:center;
 /*padding-top:8%;
  padding-bottom: 8%;
  padding-left: 8%;
  padding-right: 8%;
  margin-top:10%;
  margin-bottom: 10%;*/
  margin-left: 15%;
  margin-right: 15%;

  border-radius: 6px;
  border-color: #990000;
  border-style: solid;
}

.textbgup {
   /*background-color:lightgrey;*/
background: rgba(255,255,255,0.8);
 text-align:center;
 /*padding-top:8%;
  padding-bottom: 8%;
  padding-left: 8%;
  padding-right: 8%;
  margin-top:10%;
  margin-bottom: 10%; */
  padding-top:.5%;
  padding-bottom: .5%;
  margin-left: 33%;
  margin-right: 33%;
  border-radius: 6px;
   border-color: #990000;
   border-style: solid;
   border-width: medium;

}


.textbgpi {
   /*background-color:lightgrey;*/
background: rgba(255,255,255,0.8);
 text-align:center;
 /*padding-top:8%;
  padding-bottom: 8%;
  padding-left: 8%;
  padding-right: 8%;
  margin-top:10%;
  margin-bottom: 10%; */
  padding-top:.5%;
  padding-bottom: .5%;
  margin-left: 33%;
  margin-right: 33%;
  border-radius: 6px;
   border-color: #990000;
   border-style: solid;
   border-width: medium;

}


.textbgform{
     /*background-color:lightgrey;*/
background: rgba(255,255,255,0.8);
 text-align:center;
 /*padding-top:8%;
  padding-bottom: 8%;
  padding-left: 8%;
  padding-right: 8%;
  margin-top:10%;
  margin-bottom: 10%; */
  padding-top:.5%;
  padding-bottom: .5%;
  margin-left: 23%;
  margin-right: 23%;
  border-radius: 6px;
   border-color: #990000;
   border-style: solid;
   border-width: medium;
}

.load{
  text-align:center;
}

.navbar-header > a {
  color: white:
}

.product {
  background-color: #eee;
  opacity: 0.7;
  
  padding-top:8%;
  margin-top:10%;
  
  padding-bottom: 8%;
  margin-bottom: 10%;
  
  padding-left: 8%;
  margin-left: 8%;
  
  padding-right: 8%;
  margin-right: 8%;
  
  border-radius: 6px;
}

.col-md-4 {
	padding:0%;
	margin:0%;
}

.product:hover {
  opacity:1.0;
  
  margin-top: 4%;
  padding-top: 14%;
  
  margin-bottom: 4%;
  padding-bottom: 14%;
  
  margin-left: 2%;
  padding-left:14%
  
  margin-right: 2%;
  padding-right: 14%;
}

.product:hover > h2 {
  color: #990000;
}

.product:hover > p > a {
  background-color: #990000;
  border-color: #990000;
  color: white;
}

.product > p > a:hover {
  border-color: #7d0202;
  background-color: #7d0202;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.col-md-2 {

  margin-left: 2%;
  margin-right: 2%;
  padding:0%;
}

.jumbotron-forsale {
   opacity: 0.8;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 60px;
  padding-right: 60px;
  margin-right: 20%;
  margin-left: 20%;
  
  
  height:240px;
  margin-bottom: 2%;
  border-radius: 0px;
}

.container-fluid .jumbotron {
  border-radius: 0%;
  
}

.jumbotron-dashboard {
  opacity: 0.8;
  padding-top: 1%;
  padding-bottom: 13%;
  margin-right: 20%;
  margin-left: 20%;
  
  
  height:170px;
  margin-bottom: 2%;
  border-radius: 0px;
}



#subdash {
  margin-left: 35%;
  width:30%;
  margin-right: 35%;
  text-align: center;
}

#dashboard {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  padding-left: 1%;
  padding-right: 1%;
  border-left-style: double;
  border-left-width: thick;
  border-left-color: #990000;
  border-right-style: double;
  border-right-width: thick;
  border-right-color: #990000;
}

.lead {
  color: gray;
}
 
.conditions {
  margin-left: 20%;
  margin-right: 20%;

}

.jumbotron > h1 {
  color: #990000;
  
}

.jumbotron:hover{

}



.btn-primary {
  background-color: #990000;
  border-color: #990000;
  background-image: none;
}

.btn-primary:hover {
	background-color: #750103;
	border-color: #990104;
}

.btn-default {
	background-image: none;
	text-shadow: none;
}

.btn-default:hover {
	background-color: #750103;
	border-color: #990104;
	text-shadow: none;
}

.list-group {
  opacity:0.8;
  background-image: none;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  border-color: #990000;
  color: white;
  background-color:#990000;
  background-image: none;
}

.uploadwidth {
	width:60%;
	margin-left:20%;
	margin-right:20%;
}

.col-md-6 {
	margin:0%;
	padding:0%;
}

a.list-group-item:hover {
  background-color: #fff2f2;
  background-image: none;
}
