body {
  padding-top: 7%;
  background: url("http://3.bp.blogspot.com/__O4NuhJ7ow8/TIVX8DbnNAI/AAAAAAAAAQ0/hG-LYXemfpU/s1600/woodTexture.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;


}

.navbar-brand > img {

      height: 100%;
      width:auto;
      padding: 0px;

    }
.navbar-brand {
  padding: 13px;
}



.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.lead {

  color: lightgray;
}

footer {
    color: lightgray;
}


.col-md-5 {
    width: 40%;
}

.textbg {
   /*background-color:lightgrey;*/
   background: rgba(255,255,255,0.8);
   text-align:center;

}

.textbgtable {
   background: rgba(255,255,255,0.8);
 /*  text-align:center; */
   border-radius: 6px;
}

.textbglog {
   /*background-color:lightgrey;*/
background: rgba(255,255,255,0.8);
 /*text-align:center;
 padding-top:8%;
  padding-bottom: 8%;
  padding-left: 8%;
  padding-right: 8%;
  margin-top:10%;
  margin-bottom: 10%; */
  padding-top:.5%;
  padding-bottom: .5%;
  margin-left: 2%;
  margin-right: 88%;
  border-radius: 6px;

}

.textbgdash1 {
   /*background-color:lightgrey;*/
background: rgba(255,255,255,0.8);
 text-align:center;
/* padding-top:8%;
  padding-bottom: 8%;
  padding-left: 8%;
  padding-right: 8%;
  margin-top:10%;
  margin-bottom: 10%;*/
  padding-top:1%;
  padding-bottom: 1%;
  margin-left: 48%;
  margin-right: 28%;
  border-radius: 6px;

}

.textbgdash2 {
   /*background-color:lightgrey;*/
   background: rgba(255,255,255,0.8);
   text-align:center;
 /*padding-top:8%;
  padding-bottom: 8%;
  padding-left: 8%;
  padding-right: 8%;
  margin-top:10%;
  margin-bottom: 10%;*/
  margin-left: 20%;
  margin-right: 30%;
  border-radius: 6px;
}

.textbgup {
   /*background-color:lightgrey;*/
background: rgba(255,255,255,0.8);
 text-align:center;
 /*padding-top:8%;
  padding-bottom: 8%;
  padding-left: 8%;
  padding-right: 8%;
  margin-top:10%;
  margin-bottom: 10%; */
  padding-top:.5%;
  padding-bottom: .5%; 
  margin-left: 43%;
  margin-right: 43%;
  border-radius: 6px;
   
}

.load{
  text-align:center;
}

.navbar-header > a {
  color: white:
}

.product {
  background-color: #eee;


  opacity: 0.7;
  padding-top:8%;
  padding-bottom: 8%;
  padding-left: 8%;
  padding-right: 8%;
  margin-top:10%;
  margin-bottom: 10%;
  margin-left: 8%;
  margin-right: 8%;
  border-radius: 6px;
}

.product:hover {
  opacity:1.0;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 4%;
  margin-bottom: 4%;
  padding-top: 14%;
  padding-bottom: 14%;
}

.product:hover > h2 {
  color: #990000;
}

.product:hover > p > a {
  background-color: #990000;
  border-color: #990000;
  color: white;
}

.product > p > a:hover {
  border-color: #7d0202;
  background-color: #7d0202;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.col-md-2 {

  margin-left: 2%;
  margin-right: 2%;
  padding:0%;
}

.jumbotron {
  opacity: 0.8;
  padding-top: 35px;
  margin-right: 25%;
  margin-left: 21%;
  height: 288px;
}


.jumbotron > h1 {
  color: #990000;
}

.jumbotron:hover{

}

.btn-primary {
  background-color: #990000;
  border-color: #990000;
}

.btn-primary:hover, .btn-primary:focus {
  border-color: #7d0202;
  background-color: #7d0202;
}

.list-group {
  opacity:0.8;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  border-color: #7d0202;
  background-color: #7d0202;
}

a.list-group-item:hover {
  background-color: #fff2f2;
}
