#login {
  margin-top: 1%;
  float: right;

}

#username {

  width: 150px;
}

#navigationbar {
  width: 100%;
}

#agree {
  font: white:
}

#password {

  width: 150px;
}

#title {
  color: white;
}

#bodytext {
  margin-top: 45px;
}

#logintext {
  margin: auto;
  margin-top: 60px;


}
