#login {
  margin-top: 1%;
  float: right;

}

#username {

  width: 150px;
}

a:link,
a:hover,
a:active,
a:visited {
	text-decoration: none;
	outline: 0;
}
.jumbotron{
	background-color: #f87f73;
	height: 500px;
	padding-top: 180px;
	color: #fff;
	margin-bottom: 0px;
}
.row.low-gutter [class='col-xs-5 col-sm-3'],
.row.low-gutter [class='col-xs-7 col-sm-9'] {
  padding-right: 5px;
  padding-left: 5px;
}
.img-responsive {
    margin: 0 auto;
}
/*Navigation Styles*/
.nav-custom {
    width: 100%;
    height: 80px;
    z-index: 999;
    padding: 25px;
    background-color: #f87f73;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    font-size: 150%;
    color: #fff;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}
.nav-custom.affix {
    width: 100%;
	background-color: rgba(255, 255, 255, 1);
	color: #f87f73;
	height: 60px;
	padding: 14px;
	-webkit-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .35s ease;
}
.nav-custom .rc {
	background-color: #fff;
	color: #f87f73;
	padding: 5px;
	border-radius: 50% 0% 50% 0%;
	float: none;
}
.nav-custom.affix .rc {
	background-color: #f87f73;
	color: #fff;
}
.nav-custom.affix .navbar-collapse {
    top: 60px;
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
}
button{
	outline: none;
}
.navbar-toggle {
	padding: 0;
    margin: 0;
}
.contact {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #f87f73;
}
.contact-left {
	background-color: #f87f73;
	color: #fff;
	padding: 50px;
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
}
.contact-right {
	background-color: #fff;
	color: #f87f73;
	padding: 50px;
    text-align: center;
}
.contact-btn {
	background-color: #fff;
	color: #f87f73;
	padding: 0px 50px;
	border: 2px solid #f87f73;
}
.contact-btn:hover {
	background-color: #f87f73;
	color: #fff;
	-webkit-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .35s ease;
}
.mainHeading {
	background-color: #f87f73;
	color: #fff;
	padding: 5px 20px;
	border-radius: 0px 20px 0px 20px;
}
.subHeading {
	border: 2px solid #f87f73;
}
.padding100, .padding200 {
    padding-bottom: 50px;
}
@media (min-width: 768px) {
    .padding100 {
        padding-bottom: 100px;
    }
    .padding200 {
        padding-bottom: 200px;
    }
    .nav-custom a::before,
    .nav-custom a::after {
        display: inline-block;
        opacity: 0;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
        -moz-transition: -moz-transform 0.3s, opacity 0.2s;
        transition: transform 0.3s, opacity 0.2s;
    }
    .nav-custom a::before {
        margin-right: 10px;
        content: '[';
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        transform: translateX(20px);
    }
    .nav-custom a::after {
        margin-left: 10px;
        content: ']';
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    .nav-custom a:hover::before,
    .nav-custom a:hover::after,
    .nav-custom a:focus::before,
    .nav-custom a:focus::after {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
    }
    .nav-custom a:link, .nav-custom a:visited, .nav-custom a:hover, .nav-custom a:active {
        text-decoration: none;
        color: #fff;
        outline: none;
    }
    .nav-custom.affix a:link, .nav-custom.affix a:visited, .nav-custom.affix a:hover, .nav-custom.affix a:active {
        text-decoration: none;
        color:  #f87f73;
        outline: none;
    }
    .contact {
        border-width: 1px 0;
        height: 400px;
        background-image: linear-gradient(121deg, #f87f73 50%, #fff 50%);
    }
    .contact-left{
        background-color: transparent;
        padding-top: 100px;
        color: #fff;
        text-align: left;
        margin-left: 0;
        margin-right: 0;
    }
    .contact-right{
        padding-top: 200px;
        color: #fff;
        float: right;
        background-color: transparent;
    }
}
@media (max-width: 767px) {
    .navbar-collapse {
        width: 250px;
        position: fixed;
        right: -250px;
        top: 80px;
        overflow-x: hidden;
        background-color: rgba(255, 255, 255, 0.8);
        border-top: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: all .35s ease;
        -o-transition: all .35s ease;
        transition: all .35s ease;
    }
    .navbar-collapse.in {
        right: 0px;
        width: 250px;
        -webkit-transition: all .35s ease;
        -o-transition: all .35s ease;
        transition: all .35s ease;
    }
    .navbar-collapse.collapsing {
        height: auto !important;
    }
    .navbar-nav {
        margin: 0 -15px;
    }
    .navbar-nav>li>a {
        padding: 0;
        line-height: 3em;
        text-align: center;
    }
    .navbar-collapse ul {
        border-left: 1px solid rgba(0, 0, 0, .18);
    }
    .navbar-collapse ul li {
        border-bottom: 1px solid rgba(0, 0, 0, .18);
    }
    .navbar-collapse ul li:hover {
        background-color: #f87f73;
        color: #fff;
        -webkit-transition: all .35s ease;
        -o-transition: all .35s ease;
        transition: all .35s ease;
    }
    .navbar-collapse ul a:link,
    .navbar-collapse ul a:visited {
        color: #f87f73;
    }
    .navbar ul a:hover {
        text-decoration: none;
        color: #fff;
    }
	h2 {
		font-size: 130%;
	}
}


#agree {
  font: white:
}

#password {

  width: 150px;
}

#title {
  color: white;
}

#bodytext {
  margin-top: 45px;
}

#logintext {
  margin: auto;
  margin-top: 60px;


}
