#login {
  margin-top: 1%;
  float: right;

}

#username {

  width: 150px;
}

#navigationbar {
  width: 100%;
}

#agree {
  font: white:
}

#password {

  width: 150px;
}

#title {
  color: white;
}

#singleproduct {
  width:140px;
  height:140px;
}

#logintext {
  margin: auto;
  margin-top: 60px;
}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
